Package: com.raulsaeed.dydump
Name: dydump
Version: 0.0.1
Architecture: iphoneos-arm
Description: A Dynamic Class-Dump Tool | AKA ClassDumpRuntime UI Wrapper
Maintainer: raul
Author: raul
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000)
